@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
html{
    font-family: "Arvo", serif;
    
}
:root{
    --factioncolor: #bebebe; 
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
#datasheet{
    background: linear-gradient(#000000 0%, #ffffff 90%);
    color: white;
    width: 1000px;
    height: 700px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 0 2rem 0 0;
    position: relative;
}
#unitImg{
    width:400px;
    position: absolute;
    z-index: 1;
    margin-top: -5rem;
    right:0;
    margin-right: 5rem;
}
#info{
    margin:3rem;
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, var(--factioncolor) 0%, rgba(59, 0, 79,0.2) 100%);
    z-index: 2;

}

#name{
    margin:1rem;
    font-size: 18pt;
}
#basicInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 40%;
    margin-left:1rem;    
}

#basicInfo div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#basicInfo div .basicInfo{
    margin: 0;
    width:40px;
    height: 40px;
    font-size: 20px;
    background-color: lightgrey;
    border: 1px solid var(--factioncolor);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);



}
#content{
    background:lightgray;
    width: calc(100% - 4px);
    height: 70%;
    border: 2px solid var(--factioncolor);
    display: flex;
    flex-direction: row;
    border-radius: 0 0 0 2rem;
    z-index: 3;
}
#leftContent{
    
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--factioncolor);
    padding-top: 1rem;
}
table{
    text-align: center;
    font-size: 12pt;
}
.weaponHeader{
    background: var(--factioncolor);
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:1rem;
}
.weaponFirstItem{
    width: 40% !important;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin:0 !important;
}
td, th{
    width: 50px;
}
.weapon{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:1rem;
    color: black;
}
#rightContent{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#rightContent header{
    background: var(--factioncolor);
    
    padding:0.2rem;
}
#core{
    color:black;
}
#faction{
    color:black;
    height:60%;
}


#footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:95%;
    margin-left: 1.55rem;
    color: black;
    margin-top: -2rem;
    overflow: visible;
    z-index: 5;
}
#leftFooter{
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    border: 2px solid var(--factioncolor);
    color: black;
    width: 66.4%;
    padding: 0.5rem;
}
#rightFooter{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 2px solid var(--factioncolor);
    color: white;
    width:29.5%;
    padding: 0.5rem;
} 
#rightFooter span{
    margin-left: 2rem;
}
#factionIcon{
    position: absolute;
    top:-10%;
    left:65.8%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 2px solid var(--factioncolor);
    transform: rotate(45deg);
    z-index: 10;
}
#factionIcon img{
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}
#invulnerableSave{
    background-color: var(--factioncolor);
    padding: 0.5rem;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
#invul{
    color: var(--factioncolor);
    background-color: whitesmoke;
    border: 2px solid var(--factioncolor);
    width: 50px;
    height: 60px;
    position: absolute;
    right:0;
    margin-right: 1rem;
    margin-top:-1rem;
    border-radius: 0 0 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
}